
@{
    ViewBag.Title = "Index";
}
<h2>Dictionary</h2>
<ul>
    <li><a onclick="document.getElementById('results').innerHTML='@ViewBag.addDict'">Add an item to the Dictionary</a></li>
    <li><a onclick="document.getElementById('results').innerHTML='@ViewBag.addB'">Add a large list to the dictionary</a></li>
    <li><a onclick="document.getElementById('results').innerHTML='@ViewBag.deleteDict'">Delete an item in the Dictionary</a></li>
    <li><a onclick="document.getElementById('results').innerHTML='@ViewBag.clearDict'">Clear the Dictionary</a></li>
    <li><a onclick="document.getElementById('results').innerHTML='@ViewBag.addDict'">Find an item to the Dictionary</a><input type="text" name="EMP_NAME" value="<%: ViewData[' ee'].ToString()%>">testtest</li>

</ul>
<div id="results"></div>